.drawer {
    background-color: #ffffff;
    padding: 32px 16px 16px 16px;
}

.drawer p {
    font-size: 2rem;
    font-weight: 700;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile__img {
    border-radius: 50%;
    width: 6rem;
}

.profile-info h3 {
    font-size: 2rem;
}

.profile-info p {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background-color: #ADC5CF;
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    margin: 2rem 0 4rem 0;
}

.break-btn {
    padding: 16px 8px;
    background-color: #ADC5CF;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.break-btn__btn {
    padding: 1.2rem 1.4rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: var(--color-primary);
}

.showbox {
    display: flex;
    background-color: #ADC5CF;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    border-radius: 8px;
    margin: 2rem 0;
}

.showbox h3 {
    font-size: 2rem;
}

.showbox p {
    font-size: 1.5rem;
}

.active {
    background-color: black;
}

.activity-btn {
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 8px;
    margin-top: 4rem;
    font-size: 2rem;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #ffffff;
}