.app {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #ADC5CF;
}

.container {
  padding: 6rem 5rem 0 12rem;
}

.container__heading {
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}


@media screen and (max-width: 1200px) {
  .app {
    grid-template-columns: 3fr 1fr;
  }

  .container {
    padding: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .app {
    grid-template-columns: 8fr 4fr;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .app {
    grid-template-columns: 8fr 6fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .app {
    grid-template-columns: 1fr;
  }
}