.app {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.container {
  padding: 6rem 5rem 0 12rem;
}

.container p {
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}